footer{
    height: 45px;
    width: 100%;
    background-color: #003333;
    color: #fff;
    position: absolute;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
    line-height: 45px;
    z-index: 1;
    top:676px;
}