.campo-input{
    height: 45px;
    width: 90%;
     margin: 10px 20px;
     text-align: center;
}
.bt{
    width: 150px;
    height: 35px;
    background-color: #194574;
    color: #fff;
    font-weight: 600;
    border: none;
    margin: 5px;
}
.form-cadastro{
    width: 80%;
    height: auto;
    background-color: #fff;
    margin: 30px auto;
    padding: 45px;
    border: 1px #dcdcdc solid;
}
#new-table{
    width: 100%;
    height: auto;
    border: 1px #dcdcdc solid;
    border-collapse: collapse;
    
}
#new-table th, td{
    
    height: 120px;
    width: 30%;
    text-indent: 25px;
   
}